@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

p, .blog-aside-list li {
  font-size: 16px;
}

p a {
  font-weight: bold;
  font-style: italic;
}

p a:hover, p a :active {
  text-decoration: underline;
}

h1, h2, h3, h4, .email, nav ul li a, button {
  font-family: 'Playfair Display', serif;
  font-weight: bold italic;
  text-transform: uppercase;
  margin: 0;
}

h3, h4, nav ul li a, button {
  letter-spacing: 1px;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 10%;
  width: 100%;
  z-index: 20;
}

h2 {
  font-size: 80px;
  line-height: 92px;
  width: 100%;
  text-align: center;
}

.contact-header h2 {
  font-size: 80px;
  line-height: 81px;
  width: 73%;
}

h3 {
  font-size: 42px;
  line-height: 49px;
  margin: 5% 0;
}

.intro h3 {
  margin-bottom: 5%;
}

h4 {
  font-size: 32px 20px;
  margin: 5% 0;
}

.email {
  font-size: 26px;
  letter-spacing: 1.1px;
}

nav ul li a {
  font-size: 20px;
  line-height: 29px;
}

button {
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

/* * * * SKIP LINK * * * */
.sr-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
  z-index: -999;
}

a.sr-text:focus, a.sr-text:active {
  color: #FAFAFA;
  background-color: #FDFA69;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid #4CEEA7;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}

/* * * * BG * * * */
body {
  background-color: #EFFDF3;
}

section.intro, section.links, section.profile, main.blog-content, form, form fieldset, input[type="text"], input[type="email"], .reader-comment {
  background: #EFFDF3;
}

section.site-info, section.gallery, section.contact-form {
  background: #FAFAFA;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

/* * * * HEADER * * * */
header, .contact-header {
  background: url(../assets/header-image.jpg);
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.blog-header {
  background: url(../assets/blog-header.jpg);
  height: 50vh;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.contact-header {
  background: url(../assets/contact-header.jpg);
  background-repeat: no-repeat;
  background-color: #EFFDF3;
  height: 75vh;
}

header, .blog-header {
  background-size: cover;
  position: relative;
}

h1 {
  z-index: 20;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.blog h2 {
  -ms-grid-column-align: center;
      justify-self: center;
}

/* * * * NAV * * * */
nav {
  width: 40%;
  height: 80px;
  margin-top: 15px;
  margin-right: 10%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  width: 25%;
  text-align: center;
}

nav ul li:hover {
  border-bottom: #4CEEA7 2px solid;
}

nav ul li:hover:active {
  border-bottom: #4CEEA7 2px solid;
}

.header-photo {
  position: absolute;
  right: 0;
  z-index: 10;
  height: 462px;
  width: 483px;
  top: 300px;
  border-top: #FDFA69 15px solid;
  border-left: #FDFA69 15px solid;
  border-bottom: #FDFA69 15px solid;
}

/* * * * THAT YELLOW PHOTO BORDER * * * */
.bottom-corner-right img, .bottom-corner-left img {
  position: relative;
  z-index: 10;
}

.bottom-corner-right, .bottom-corner-left {
  position: relative;
}

.bottom-corner-right::after, .bottom-corner-left::after, .bottom-corner-right::before, .bottom-corner-left::before {
  content: '';
  position: absolute;
  background-color: #FDFA69;
}

/* VERTICAL */
.bottom-corner-right::after {
  width: 20%;
  height: 100%;
  bottom: -14px;
  right: -20px;
}

/* HORIZONTAL */
.bottom-corner-right::before {
  width: 100%;
  height: 20%;
  bottom: -14px;
  right: -20px;
}

/* VERTICAL */
.bottom-corner-left::after {
  width: 20%;
  height: 100%;
  bottom: -14px;
  left: -20px;
}

/* HORIZONTAL */
.bottom-corner-left::before {
  width: 100%;
  height: 20%;
  bottom: -14px;
  left: -20px;
}

/* * * * MAIN STYLES * * * */
section.intro {
  padding: 15%;
  text-align: center;
}

section.intro p {
  text-align: left;
}

/* * * * SECTION - SITE INFO * * * */
section.site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-info-left, .site-info-right {
  width: 45%;
}

.site-info-block p {
  text-align: left;
}

.site-info-block {
  padding: 10% 15% 10% 0;
}

.site-info-block.left-block {
  text-align: right;
  padding: 10% 0 0 15%;
}

/* * * * SECTION - LINKS * * * */
section.links {
  padding: 10% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.information-block {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.information-block-icon {
  background: #4CEEA7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

span.icon {
  line-height: 40px;
  font-size: 25px;
}

.information-block-content {
  width: 80%;
  padding-left: 3%;
}

/* * * * SECTION - MAP BANNER * * * */
section.full-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: 100%;
}

/* * * * SECTION - PROFILE * * * */
section.profile {
  padding: 8% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .img-block-container {
  width: 35%;
}

.profile .img-block-container .bottom-corner-right {
  width: 55%;
  float: right;
  margin-right: 15%;
}

.profile .info-block {
  width: 65%;
  padding: 0 10% 0 0;
}

/* * * * SECTION - GALLERY * * * */
section.gallery {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.gallery .gallery-container {
  width: calc(100% / 3 - 5%);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.gallery .gallery-container img {
  padding: 3%;
}

section.gallery .gallery-container img:nth-child(2) {
  padding: 3% 0;
}

/* * * * BLOG PAGE * * * */
main.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.blog {
  width: 65%;
}

article.blog-entry {
  position: relative;
  padding-top: 45%;
}

.blog-photo {
  height: 538px;
  width: 767px;
  top: -180px;
  position: absolute;
}

.blog-photo.bottom-corner-left::after {
  bottom: -6px;
}

.blog-photo.bottom-corner-left::before {
  bottom: -6px;
}

.blog-post {
  border-left: #FDFA69 solid 2px;
  border-bottom: #FDFA69 solid 2px;
  padding: 5%;
}

.blog-post p {
  margin: 0;
}

p.blog-date {
  margin: 0 0 30px 0;
  line-height: 20px;
}

/* * * * BLOG - COMMENTS * * * */
.blog-comments-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.blog-post-commenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
}

figure.blog-post-commenter-img {
  margin: 0;
  padding: 0;
}

.blog-post-comment {
  width: 80%;
  padding-bottom: 5%;
}

.blog-post-comment p.date-and-user {
  margin-top: 0;
}

/* * * * BLOG - ASIDE * * * */
main.blog-content aside {
  width: 30%;
}

aside img {
  margin-top: 25%;
  width: 90%;
}

.blog-aside {
  background: #FAFAFA;
  margin-top: -20px;
  margin-left: 15%;
  padding: 5%;
  width: 80%;
}

.blog-aside-list li {
  padding: 1% 2%;
  line-height: 20px;
}

.blog-aside-list li::before {
  content: "•";
  color: #4CEEA7;
  display: inline-block;
  width: 5%;
  margin-left: -2%;
}

article.blog-comments {
  width: 100%;
}

/* * * * BLOG - FORM * * * */
form, form fieldset {
  border: none;
}

form:focus-within {
  background: #fefdce;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

input[type="text"], input[type="email"] {
  width: 48%;
  border: none;
  border-bottom: #4CEEA7 solid 2px;
  padding: 15px;
}

.reader-comment, .contact-message {
  width: 98%;
  height: 200px;
  margin-top: 2%;
  border: #4CEEA7 solid 2px;
  padding: 15px;
}

button.read-more, button.comment-submit, button.contact-submit {
  padding: 5px 15px;
  margin-top: 2%;
  background: #7bf2be;
  border: none;
  background-position: center;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

button.read-more:hover, button.comment-submit:hover, button.contact-submit:hover {
  background: #FDFA69 radial-gradient(circle, transparent 1%, #FDFA69 1%) center/15000%;
}

button.read-more:active, button.comment-submit:active, button.contact-submit:active {
  background-color: #FDFA69;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

button.comment-submit, button.contact-submit {
  width: 98%;
}

/* * * * CONTACT * * * */
.contact-page {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.contact-form {
  width: 60%;
}

section.contact-form form, section.contact-form form fieldset {
  background: #FAFAFA;
  padding: 3%;
}

.contact-form input[type="text"], .contact-form input[type="email"], textarea.contact-message {
  background: #FAFAFA;
  font-size: 18px;
  line-height: 19px;
  padding: 2%;
  margin: 3% 0;
}

aside.contact {
  margin-top: 10%;
}

section.contact-form .bottom-corner-left {
  top: -200px;
}

section.contact-form {
  background: none;
}

.bottom-corner-left form {
  z-index: 20;
  position: relative;
}

aside.contact {
  width: 30%;
}

p.contact span {
  display: block;
}

nav.social-nav {
  height: 30px;
  width: 50%;
}

nav.social-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.social-nav ul li {
  width: calc(100% / 4);
  text-align: left;
}

/* * * * FOOTER * * * */
footer {
  width: 100%;
  background: #2C2C2C;
  color: #FAFAFA;
}

footer p {
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .blog-photo {
    position: relative;
    height: auto;
    width: 100%;
    top: 0;
    border-left: 0;
  }
  .blog-photo img {
    display: block;
  }
  .blog-photo.bottom-corner-left::after {
    width: 0;
    height: 0;
    bottom: -0;
    left: 0;
  }
  /* HORIZONTAL */
  .blog-photo.bottom-corner-left::before {
    width: 100%;
    height: 20%;
    bottom: -14px;
    left: 0;
  }
  section.blog {
    padding-top: 0;
    width: 100%;
  }
  article.blog-entry {
    position: relative;
    padding-top: 0;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    margin: 5%;
    text-align: right;
    text-shadow: 1px 1px #4CEEA7;
  }
  .header-photo {
    display: none;
  }
  .blog-aside-list li {
    padding: 5%;
  }
}

@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    margin: 5% 2%;
    height: 100px;
  }
  nav ul {
    background-color: rgba(250, 250, 250, 0.8);
  }
  nav ul li:hover {
    background: #4CEEA7;
    border: none;
  }
  nav ul li:hover:active {
    background: #4CEEA7;
    border: none;
  }
  nav ul li a {
    font-size: 18px;
    line-height: 40px;
  }
  main.blog-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: column;
        flex-flow: column;
  }
  main.blog-content, main.blog-content aside {
    width: 100%;
  }
  main.blog-content aside img {
    margin-top: 5%;
    width: 100%;
  }
  .blog-aside {
    width: 80%;
    margin: 0 auto;
  }
  .blog-aside-list li {
    padding: 2%;
  }
  .blog-post {
    border-right: 2px #FDFA69 solid;
  }
  section.gallery .gallery-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  section.gallery .gallery-container img {
    padding: 5% 0;
  }
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 50px;
  }
  section.intro {
    padding: 5%;
  }
  h3 {
    font-size: 35px;
    line-height: 40px;
  }
  section.intro p {
    text-align: center;
  }
  section.links, section.site-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 5%;
  }
  .site-info-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .site-info-left, .site-info-right, .site-info-block, .site-info-block.left-block {
    width: 100%;
    padding: 5%;
    text-align: center;
  }
  .site-info h4 {
    margin-top: 5%;
  }
  .site-info-block p {
    text-align: center;
  }
  .information-block {
    width: 100%;
  }
  section.full-banner {
    display: none;
  }
  section.profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .profile .img-block-container {
    width: 100%;
    padding: 5%;
  }
  .profile .img-block-container .bottom-corner-right {
    position: relative;
    width: 60%;
    margin: 0 auto;
    float: none;
  }
  .profile .info-block {
    width: 90%;
    padding: 5%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 100%;
  }
}
